@model BundleModel

@{
    ViewData["Title"] = "List of Bundles";
}

<h1>List of Bundles</h1>

<p>
    <a asp-action="Create">Create New Bundle</a>
</p>

@Html.AntiForgeryToken()
<table id="dtBundle" class="table table-striped table-bordered table-dark">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.SerialNumber)</th>
            <th>@Html.DisplayNameFor(model => model.NumberOfUnits)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
            <th>@Html.DisplayNameFor(model => model.ModifiedDate)</th>
            <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
            <th>@Html.DisplayNameFor(model => model.Action)</th>
        </tr>
    </thead>
</table>

<partial name="DeleteRestoreModal" />
@if (TempData["Error"] != null)
{
    await Html.RenderPartialAsync("ErrorModal", TempData["Error"]);
}