@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model MainTransferModel

@{
    ViewData["Title"] = "Details Transfer " + @Model.TransferNumber;
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<h1>Details</h1>

<div>
    <h4>Transfer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Transfer Number
        </dt>
        <dd class="col-sm-10">
            @Model.TransferNumber
        </dd>
        <dt class="col-sm-2">
            State
        </dt>
        <dd class="col-sm-10">
            @Model.State
        </dd>
        <dt class="col-sm-2">
            Transfer Time
        </dt>
        <dd id="ddTT" class="col-sm-10">
            <script type="text/javascript">
                window.addEventListener('load', function() {
                        let data = '@Model.TransferTime.ToString("s")';
                        let date = luxon.DateTime.fromISO(data, { zone: "utc" }).toLocal().toFormat("dd.LL.yyyy TT");
                        document.getElementById("ddTT").innerHTML = date;
                    });
            </script>
        </dd>
        <dt class="col-sm-2">
            User 
        </dt>
        <dd class="col-sm-10">
            @Model.User.UserName
        </dd>
        <dt class="col-sm-2">
            Destination Location
        </dt>
        <dd class="col-sm-10">
            @Model.DestinationLocation.Name
        </dd>
        <dt class="col-sm-2">
            Transferred Items
        </dt>
        <dd class="col-sm-10">
            <table id="dtTransferDetails" class="table table-striped table-bordered table-dark nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>Inventory Number</th>
                    <th>Origin Location</th>
                </tr>
                </thead>
            </table>
            <input id="RequestVerificationToken" type="hidden" value="@requestToken" />
        </dd>
        <dt class="col-sm-2">
            Created Date
        </dt>
        <dd id="ddCD" class="col-sm-10">
            <script type="text/javascript">
                window.addEventListener('load', function () {
                    let data = '@Model.CreatedDate.ToString("s")';
                    let date = luxon.DateTime.fromISO(data, { zone: "utc" }).toLocal().toFormat("dd.LL.yyyy TT");
                    document.getElementById("ddCD").innerHTML = date;
                });
            </script>
        </dd>
    </dl>
    <input id="MainTransferId" type="hidden" asp-for="Id" />
</div>
<div>
    <a class="text-primary" asp-action="Index">Back to List</a>
</div>