@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model SubTransferModel

@{
    ViewData["Title"] = "List of Transfers";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<h1>List of Transfers</h1>

<p>
    <a asp-action="Create">Create New Transfer</a>
</p>

<table id="dtTransfer" class="table table-striped table-bordered table-dark nowrap" style="width:100%">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.MainTransfer.TransferNumber)</th>
        <th>@Html.DisplayNameFor(model => model.MainTransfer.TransferTime)</th>
        <th>@Html.DisplayNameFor(model => model.MainTransfer.State)</th>
        <th>@Html.DisplayNameFor(model => model.MainTransfer.User.UserName)</th>
        <th>Origin Location</th>
        <th>Destination Location</th>
        <th>Inventory Number</th>
        <th>@Html.DisplayNameFor(model => model.Action)</th>
    </tr>
    </thead>
</table>
<input id="RequestVerificationToken" type="hidden" value="@requestToken" />