@model TransferModel

@{
    ViewData["Title"] = "List of Transfers";
}

<h1>List of Transfers</h1>

<p>
    <a asp-action="Create">Create New Transfer</a>
</p>

@Html.AntiForgeryToken()
<table id="dtTransfer" class="table table-striped table-bordered table-dark">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TransferNumber)</th>
            <th>Origin Location</th>
            <th>Destination Location</th>
            <th>@Html.DisplayNameFor(model => model.State)</th>
            <th>@Html.DisplayNameFor(model => model.TransferTime)</th>
            <th>@Html.DisplayNameFor(model => model.State)</th>
            <th>@Html.DisplayNameFor(model => model.Units)</th>
            <th>@Html.DisplayNameFor(model => model.Action)</th>
        </tr>
    </thead>
</table>

<partial name="DeleteRestoreModal" />
@if (TempData["Error"] != null)
{
    await Html.RenderPartialAsync("ErrorModal", TempData["Error"]);
}