@model ProductTypeModel

@{
    ViewData["Title"] = "Details "+Model.Name;
}

<h1>Details</h1>

<div>
    <h4>Product Type</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Created Date
        </dt>
        <dd id="ddCD" class="col-sm-10">
            <script type="text/javascript">
                window.addEventListener('load', function() {
                    let data = "@Model.CreatedDate";
                    let date = luxon.DateTime.fromFormat(data, "dd.MM.yyyy H:mm:ss", { zone: "utc" }).toLocal().toFormat("dd.LL.yyyy TT");
                    document.getElementById("ddCD").innerHTML = date;
                })
            </script>
        </dd>
        <dt class="col-sm-2">
            Last Modified
        </dt>
        <dd id="ddMD" class="col-sm-10">
            <script type="text/javascript">
                window.addEventListener('load', function() {
                    let data = "@Model.ModifiedDate";
                    let date = luxon.DateTime.fromFormat(data, "dd.MM.yyyy H:mm:ss", { zone: "utc" }).toLocal().toFormat("dd.LL.yyyy TT");
                    document.getElementById("ddMD").innerHTML = date;
                })
            </script>
        </dd>
        <dt class="col-sm-2">
            Deleted
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a class="text-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    @if (!Model.IsDeleted)
    {
        <a href="#" class="text-primary" data-toggle="modal" data-target="#deleteRestoreModal" data-url="@Url.Action("Delete", new {Id = Model.Id})" data-name="@Model.Name">
            Delete</a>
    }
    @if (Model.IsDeleted)
    {
        <a href="#" class="text-primary" data-toggle="modal" data-target="#deleteRestoreModal" data-url="@Url.Action("Restore", new {Id = Model.Id})" data-name="@Model.Name">
            Restore</a>
    }
    | <a class="text-primary" asp-action="Index">Back to List</a>
</div>

<partial name="DeleteRestoreModal" />
@if (TempData["Error"] != null)
{
    await Html.RenderPartialAsync("ErrorModal", TempData["Error"]);
}
