@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model ProductTypeModel

@{
    ViewData["Title"] = "Product Type List";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<h1>List of Product Types</h1>

<p>
    <a asp-action="Create">Create New Product Type</a>
</p>

<table id="dtProductType" class="table table-striped table-bordered table-dark nowrap" style="width:100%">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
        <th>@Html.DisplayNameFor(model => model.ModifiedDate)</th>
        <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
        <th>@Html.DisplayNameFor(model => model.Action)</th>
    </tr>
    </thead>
</table>
<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

<partial name="DeleteRestoreModal" />
@if (TempData["Error"] != null)
{
    await Html.RenderPartialAsync("ErrorModal", TempData["Error"]);
}