@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model ManufacturerModel

@{
    ViewData["Title"] = "Manufacturer List";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<h1>List of Manufacturers</h1>

<p>
    <a asp-action="Create">Create New Manufacturer</a>
</p>

<table id="dtManufacturer" class="table table-striped table-bordered table-dark table-responsive">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
        <th>@Html.DisplayNameFor(model => model.ModifiedDate)</th>
        <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
        <th>@Html.DisplayNameFor(model => model.Action)</th>
    </tr>
    </thead>
</table>
<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

<partial name="DeleteRestoreModal" />
@if (TempData["Error"] != null)
{
    await Html.RenderPartialAsync("ErrorModal", TempData["Error"]);
}