@model UnitModel

@{
    ViewData["Title"] = "List of Units";
}

<h1>List of Units</h1>

<p>
    <a asp-action="Create">Create New Unit</a>
</p>

@Html.AntiForgeryToken()
<table id="dtUnit" class="table table-striped table-bordered table-dark">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SerialNumber)</th>
            <th>Product Type</th>
            <th>Manufacturer</th>
            <th>Product</th>
            <th>Current Location</th>
            <th>Default Location</th>
            <th>@Html.DisplayNameFor(model => model.ShelfNumber)</th>
            <th>Bundle</th>
            <th>@Html.DisplayNameFor(model => model.Notes)</th>
            <th>Vendor Name</th>
            <th>@Html.DisplayNameFor(model => model.LastTransferTime)</th>
            <th>@Html.DisplayNameFor(model => model.LastCheckTime)</th>
            <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
            <th>@Html.DisplayNameFor(model => model.Action)</th>
        </tr>
    </thead>
</table>

<partial name="DeleteRestoreModal" />
@if (TempData["Error"] != null)
{
    await Html.RenderPartialAsync("ErrorModal", TempData["Error"]);
}