@model ProductModel

@{
    ViewData["Title"] = "Details " + Model.Name;
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <partial name="ImageUpload/View" model="Model.Image"/>
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Product Number
        </dt>
        <dd class="col-sm-10">
            @Model.ProductNumber
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Webpage
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.Webpage">@Model.Webpage</a>
        </dd>
        <dt class="col-sm-2">
            Manufacturer
        </dt>
        <dd class="col-sm-10">
            @Model.Manufacturer.Name
        </dd>
        <dt class="col-sm-2">
            Product Type
        </dt>
        <dd class="col-sm-10">
            @Model.ProductType.Name
        </dd>
        <dt class="col-sm-2">
            Product Type Description
        </dt>
        <dd class="col-sm-10">
            @Model.ProductType.Description
        </dd>
        <dt class="col-sm-2">
            Created Date
        </dt>
        <dd id="ddCD" class="col-sm-10">            
            <script type="text/javascript">
                window.addEventListener('load', function() {
                    let data = '@Model.CreatedDate.ToString("s")';
                    let date = luxon.DateTime.fromISO(data, { zone: "utc" }).toLocal().toFormat("dd.LL.yyyy TT");
                    document.getElementById("ddCD").innerHTML = date;
                });
            </script>
        </dd>
        <dt class="col-sm-2">
            Last Modified
        </dt>
        <dd id="ddMD" class="col-sm-10">
            <script type="text/javascript">
                window.addEventListener('load', function() {
                    let data = '@Model.ModifiedDate.ToString("s")';
                    let date = luxon.DateTime.fromISO(data, { zone: "utc" }).toLocal().toFormat("dd.LL.yyyy TT");
                    document.getElementById("ddMD").innerHTML = date;
                });
            </script>
        </dd>
        <dt class="col-sm-2">
            Deleted
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a class="text-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    @if (!Model.IsDeleted)
    {
        <a href="#" class="text-primary" data-toggle="modal" data-target="#deleteRestoreModal" data-url="@Url.Action("Delete", new {Id = Model.Id})" data-name="@Model.Name">
            Delete
        </a>
    }
    @if (Model.IsDeleted)
    {
        <a href="#" class="text-primary" data-toggle="modal" data-target="#deleteRestoreModal" data-url="@Url.Action("Restore", new {Id = Model.Id})" data-name="@Model.Name">
            Restore
        </a>
    }
    | <a class="text-primary" asp-action="Index">Back to List</a>
</div>

<partial name="DeleteRestoreModal" />
