@model ProductModel

@{
    ViewData["Title"] = "List of Products";
}

<h1>List of Products</h1>

<p>
    <a asp-action="Create">Create New Product</a>
</p>

@Html.AntiForgeryToken()
<table id="dtProduct" class="table table-striped table-bordered table-dark table-responsive">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.ProductNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Webpage)</th>
            <th>Product Type</th>
            <th>Manufacturer</th>
            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
            <th>@Html.DisplayNameFor(model => model.ModifiedDate)</th>
            <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
            <th>@Html.DisplayNameFor(model => model.Action)</th>
        </tr>
    </thead>
</table>

<partial name="DeleteRestoreModal" />
@if (TempData["Error"] != null)
{
    await Html.RenderPartialAsync("ErrorModal", TempData["Error"]);
}